{% include 'games/partials/head.html' %}

<body>
    {% include 'games/partials/header.html' %}
    {% include 'games/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'games/partials/games.html' %}
            {% include 'games/partials/games.html' %}
            {% include 'games/partials/games.html' %}
            {% include 'games/partials/games.html' %}
            {% include 'games/partials/games.html' %}
            {% include 'games/partials/games.html' %}        
        </div>
    </main>

    {% include 'games/partials/footer.html' %}
</body>

</html>